{% extends "jobs_templates/base_details2.html" %}
{%- from "jobs_templates/_help_templates/_jobs_macros.html" import template_pages_changed, template_pages_processed, template_pages_errors -%}

{% set job_type = 'fixref' %}
{% block detail_title %}Normalize References{% endblock %}
{% block detail_headline %}Normalize References{% endblock %}

{% block job_summary %}

{% include 'jobs_templates/_help_templates/_job_summary.html' %}

{% endblock %}

{% block job_details %}

{% if result_data and result_data.pages_changed %}

{{ template_pages_changed(wiki_domain, 'Changed Pages', result_data.pages_changed) }}

{% endif %}

{% if result_data and result_data.pages_processed %}

{{ template_pages_processed(wiki_domain, 'Pages Processed', result_data.pages_processed) }}

{% endif %}

{% if result_data and result_data.pages_errors %}

{{ template_pages_errors(wiki_domain, 'Pages Errors', result_data.pages_errors) }}

{% endif %}

{% endblock %}
