{% extends "jobs_templates/base_details_public.html" %}
{% from "_macros/_jobs_macros.html" import template_pages_changed, template_pages_processed, template_pages_errors, template_pages_only_title %}
{% from 'jobs_templates/_ajax_templates/_ajax_table.html' import new_pages_table %}

{% block job_summary %}

{% include 'jobs_templates/_help_templates/_job_summary.html' %}

{% endblock %}

{% block job_details %}

{% if result_data and result_data.pages_changed1 %}

{{ template_pages_changed(wiki_domain, 'Changed Pages', result_data.pages_changed, job.id, template_data.job_type) }}

{% endif %}

{% if result_data and result_data.pages_processed %}

{{ template_pages_processed(wiki_domain, 'Pages Processed', result_data.pages_processed, job.id, template_data.job_type) }}

{% endif %}

{% if result_data and result_data.pages_errors %}

{{ template_pages_errors(wiki_domain, 'Pages Errors', result_data.pages_errors, job.id, template_data.job_type) }}

{% endif %}

{% if result_data and result_data.pages_skipped %}

{{ template_pages_errors(wiki_domain, 'Pages skipped', result_data.pages_skipped, job.id, template_data.job_type) }}

{{ new_pages_table(
    table_title="Pages skipped",
    job_id=job.id,
    job_type=template_data.job_type,
    list_name="pages_skipped",
    table_headers=["#", "Title", "Status", "Message"],
) }}
{% endif %}

{% if result_data and result_data.pages_missing %}

{{ template_pages_only_title(wiki_domain, 'Pages missing', result_data.pages_missing) }}

{{ new_pages_table(
    table_title="Pages missing",
    job_id=job.id,
    job_type=template_data.job_type,
    list_name="pages_missing",
    table_headers=["#", "Title", "Message"],
) }}

{% endif %}

{% endblock %}

{% block extra_js %}
<script>
    function createTableColumns(
        show_status = false,
        show_message = false,
        show_err = false,
    ) {
        return [
            {
                data: null,
                title: "#",
                // @ts-ignore
                render: function (data, type, row, meta) {
                    return meta.row + 1;
                },
            },
            {
                data: 'title',
                title: 'Title',
                render: renderWikiLink,
            },
            {
                data: 'status',
                title: 'Status',
                render: undefined,
                visible: show_status,
            },
            {
                data: 'msg',
                title: 'Message',
                render: undefined,
                visible: show_message,
            },
            {
                data: 'error',
                title: 'Error',
                render: undefined,
                visible: show_err
            }
        ];
    }

    $(document).ready(function () {
        initServerTable(
            'table-pages_missing',
            createTableColumns(
                show_status = false,
                show_message = true,
                show_err = false,
            ),
        );
        initServerTable(
            'table-pages_missing',
            createTableColumns(
                show_status = false,
                show_message = true,
                show_err = false,
            ),
        );
    });
</script>

{% endblock %}
