/php/replace/find
*.7z
.pylintrc
/php/bots/sh
**/old/**
*.pyc
.vscode/**
src/app1.py
patch-diff.diff
coverage.xml
.coverage
**/work_on_text_result.wiki
.claude/settings.json
.claude/settings.local.json
_works_files/add_all.py
/.mypy_cache
monkeytype.sqlite3
righttyper.log
run_tests.py
righttyper.out
/.commandcode
*.isorted
tests/unit/jobs_workers/public_jobs_workers/find_and_replace/__pycache__/test_find_and_replace_objects.cpython-313-pytest-9.0.2.pyc.15052
