/php/replace/find
*.7z
.pylintrc
/php/bots/sh
**/old/**
*.pyc
.vscode/**
src/app1.py
patch-diff.diff
coverage.xml
.coverage
**/work_on_text_result.wiki
.claude/settings.json
.claude/settings.local.json
_works_files/add_all.py
/.mypy_cache
monkeytype.sqlite3
righttyper.log
run_tests.py
righttyper.out
/.commandcode
*.isorted
docs/v2_plans/di_refactor/files-461830e3.zip
**/bs4_admin/**
!_works_files/flask_app_old.7z
