{% extends "jobs_templates/_help_templates/shared_details.html" %}
{% from "_macros.html" import stats_card %}

{% block job_summary %}
<div class="row g-3 mb-4">
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Processing', (result_data.summary.scanned or result_data.summary.processed) ~ ' / ' ~ result_data.summary.total, "primary", "") }}
    </div>
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Created', result_data.summary.created, 'success', "") }}
    </div>
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Skipped', result_data.summary.skipped, 'secondary', "") }}
    </div>
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Already exists', result_data.summary.already_exists, 'secondary', "") }}
    </div>
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Target missing', result_data.summary.target_missing, 'secondary', "") }}
    </div>
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Errors', result_data.summary.errors, 'danger', "") }}
    </div>
</div>
{% endblock %}

{% block sub_job_details %}
{% if result_data and result_data.pages_created %}

{{ new_pages_table(
    table_title="Pages Created",
    job_id=job.id,
    job_type=template_data.job_type,
    list_name="pages_created",
) }}
{% endif %}

{% endblock %}

{% block sub_extra_js %}
<script>
    $(document).ready(function () {
        initServerTable(
            'table-pages_created',
            createSharedTableColumns(
                show_status = false,
                show_message = true,
                show_err = false,
                show_newrevid = true,
            ),
        )
    });
</script>

{% endblock %}
